networks:
  nginx_net:
    driver: bridge

services:
  app:
    build: ./backend
    container_name: django_crud
    ports: 
      - "8000:8000"
    networks:
      - nginx_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:80" 
    networks:
      - nginx_net
    restart: unless-stopped

  nginx:
    image: nginx:latest
    ports: 
      - 8002:80
    networks:
      - nginx_net
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist:/usr/share/nginx/html:ro
    depends_on:
      - app
      - frontend
